div{
	background-color:#ccc; 
	padding:20px
}

span{
	color:white; 
	background-color:#000
}

.nome{
	background-color:red
}

.idade{
	background-color:blue
}

.segredo{
	background-color:yellow
}

.elemento{
	width:300px;
	height:300px;
	background-color:pink
}

svg{
	background-color:pink;
}
    
svg rect{
	fill:rgb(0,0,255);
	stroke-width:3;
	stroke:rgb(0,0,0);
	fill-opacity:0.1;
	stroke-opacity:0.9;
}

.curvado{ 
	fill:blue;
	stroke:black;
	stroke-width:5;
}